* {
    font-family: sans-serif;
}

.login {
    min-height: 100vh;
    height: 30em;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

h3 {
    text-align: center;
}

.form-login {
    width: 30%;
    align-items: center;
    justify-content: center;
    text-align: left;
}