.carousel-item img{
  height:600px;
}
.carousel-header{
  font-size: 150px;
  color:#f1e6e6;
  font-family: 'Bungee Inline', cursive;
  font-family: 'Lora', serif;
}
.carousel-text{
  font-size: 30px;
}
@media only screen and (max-width: 640px) {
  .carousel-header{
    font-size: 60px;
  }
}